<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Patient Resources
      <button class="btn btn-success pull-right" (click)="findPerson()">Find Person</button>
    </div>
    <div class="module-body">
      <div *ngIf="person">
        <div class="row">
          <div class="col-md-12">
            <loadingIndicator [done]="patients">
              <div class="card">
                <div class="card-header">
                  <!-- ***************** FILTERS ***************** -->
                  <div class="row">
                    <div class="form-group col-md-5">
                      <label class="control-label">Patient</label>
                      <ng-template #patientTooltip>Hello World</ng-template>
                      <multiSelectDropdown [data]="patients" [(ngModel)]="patientFilter" name="patientFilter"></multiSelectDropdown>
                    </div>
                    <div class="form-group col-md-5">
                      <label class="control-label">Resource Type</label>
                      <multiSelectDropdown [data]="resourceTypes" [(ngModel)]="resourceFilter" name="resourceFilter" ></multiSelectDropdown>
                    </div>
                    <div class="form-group col-md-2">
                      <div>&nbsp;</div>
                      <button class="btn btn-success pull-right" (click)="loadResources()">Load</button>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <!-- ***************** PATIENTS ***************** -->
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Patients <small>({{patientResourceList?.length}})</small></h2>
                      <loadingIndicator [done]="patientResourceList">
                        <div class="scroll-box-100">
                          <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                            <th>Date Of Birth</th>
                            <th>Name</th>
                            <th>Service</th>
                            <th>Local ID(s)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let patient of patientResourceList" (click)="viewResource(patient)" [ngClass]="{'highlight': patient === highlight}">
                            <td>{{getDate(patient) | date:'dd-MMM-y'}}</td>
                            <td>{{getPatientName(patient)}}</td>
                            <td>{{getServiceName(patient)}}</td>
                            <td>{{getLocalIds(patient)}}</td>
                          </tr>
                        </tbody>
                      </table>
                        </div>
                      </loadingIndicator>
                    </div>
                  </div>
                  <!-- ***************** RESOURCES ***************** -->
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Resources <small>({{clinicalResourceList?.length}})</small></h2>
                      <loadingIndicator [done]="clinicalResourceList">
                        <div class="scroll-box-400">
                          <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                            <th>Recorded Date</th>
                            <th>Effective Date</th>
                            <th>Resource Type</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let resource of clinicalResourceList" (click)="viewResource(resource)">
                            <td>{{getRecordedDate(resource) | date:'dd-MMM-y'}}</td>
                            <td>{{getDate(resource) | date:'dd-MMM-y'}}</td>
                            <td>{{getResourceName(resource)}}</td>
                            <td>{{getDescription(resource)}}</td>
                          </tr>
                        </tbody>
                      </table>
                        </div>
                      </loadingIndicator>
                    </div>
                  </div>

                </div>
              </div>
            </loadingIndicator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
