<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Resources
      <button class="btn btn-success pull-right" (click)="findPerson()" id="findPerson">Find person</button>
    </div>
    <div class="module-body">
      <div *ngIf="person">
        <div class="row">
          <div class="col-md-12">
            <loadingIndicator [done]="patients">
              <div class="card" id="resourceCard">
                <div class="card-header">
                  <!-- ***************** DATA FILTERS ***************** -->
                  <div class="row">
                    <div class="form-group col-md-5">
                      <label class="control-label">Patient</label>
                      <ng-template #patientTooltip></ng-template>
                      <multiSelectDropdown [data]="patients" [(ngModel)]="patientFilter" ></multiSelectDropdown>
                    </div>
                    <div class="form-group col-md-5">
                      <label class="control-label">Resource type</label>
                      <multiSelectDropdown [data]="resourceTypes" [(ngModel)]="resourceFilter"  ></multiSelectDropdown>
                    </div>
                    <div class="form-group col-md-2">
                      <div>&nbsp;</div>
                      <button class="btn btn-success pull-right" (click)="loadResources()" [disabled]="invalidSelection()" id="load">Load</button>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <!-- ***************** PATIENT RESOURCES ***************** -->
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Patient resources <small>({{patientResourceList?.length}})</small></h2>
                      <loadingIndicator [done]="patientResourceList">
                        <div class="scroll-box-100">
                          <table class="table table-sm table-hover" id="patientTable">
                        <thead>
                          <tr>
                            <th>Date of birth</th>
                            <th>Name</th>
                            <th>Local ID(s)</th>
                            <th>Service</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let patientResource of patientResourceList" (click)="viewResource(patientResource)" [ngClass]="{'highlight': patientResource === highlight}">
                            <td>{{getDate(patientResource) | date:'dd-MMM-y'}}</td>
                            <td>{{getPatientName(patientResource)}}</td>
                            <td>{{getLocalIds(patientResource)}}</td>
                            <td>{{getServiceName(patientResource)}}</td>
                          </tr>
                        </tbody>
                      </table>
                        </div>
                      </loadingIndicator>
                    </div>
                  </div>
                  <!-- ***************** CLINICAL RESOURCES ***************** -->
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Clinical resources <small>({{clinicalResourceList?.length}})</small></h2>
                      <loadingIndicator [done]="clinicalResourceList">
                        <div class="scroll-box-400">
                          <table class="table table-sm table-hover" id="resourceTable">
                        <thead>
                          <tr>
                            <th>Recorded date</th>
                            <th>Effective date</th>
                            <th>Resource type</th>
                            <th>Description</th>
                            <th>Service</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let clinicalResource of clinicalResourceList" (click)="viewResource(clinicalResource)">
                            <td>{{getRecordedDate(clinicalResource) | date:'dd-MMM-y'}}</td>
                            <td>{{getDate(clinicalResource) | date:'dd-MMM-y'}}</td>
                            <td>{{getResourceName(clinicalResource)}}</td>
                            <td>{{getDescription(clinicalResource)}}</td>
                            <td>{{getServiceName(clinicalResource)}}</td>
                          </tr>yes
                        </tbody>
                      </table>
                        </div>
                      </loadingIndicator>
                    </div>
                  </div>

                </div>
              </div>
            </loadingIndicator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
