<loadingIndicator [done]="fieldMappings">
  <table class="table table-striped table-sm">
    <thead>
      <th class="d-inline-block col-4">Discovery field</th>
      <th class="d-inline-block col-4">Data source</th>
      <th class="d-inline-block col-4">Source value</th>
    </thead>
    <tbody>
      <tr *ngFor="let fieldMap of fieldMappings">
        <td class="d-inline-block col-4">{{fieldMap.resourceField}}</td>
        <td class="d-inline-block col-4">
          <span *ngIf="fieldMap.sourceLocation">{{fieldMap.sourceLocation}}</span>
          <span *ngIf="fieldMap.sourceFileName" ngbTooltip="{{fieldMap.sourceFileName}}">{{getFilename(fieldMap.sourceFileName)}} [Col:{{fieldMap.sourceFileColumn}}, Row:{{fieldMap.sourceFileRow}}]</span>
        </td>
        <td class="d-inline-block col-4">{{fieldMap.value}}</td>
      </tr>
    </tbody>
  </table>
</loadingIndicator>
