<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-tabset>
    <ngb-tab title="Clinical">
      <ng-template ngbTabContent>
        <app-template-view [resource]="resource"></app-template-view>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Technical">
      <ng-template ngbTabContent>
        <div class="scroll-box-500">
          <app-raw-view [resource]="resource" [node]="resource.resourceJson" (onShowMap)="showMap($event)"></app-raw-view>
          <div *ngIf="mapDetail" style="position: fixed; top: 140px; right: 55px;">
            <app-map-detail [mapDetail]="mapDetail"></app-map-detail>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Data Map">
      <ng-template ngbTabContent>
        <div class="scroll-box-500">
          <app-map-view [resource]="resource"></app-map-view>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()" name="close">Close</button>
</div>

